@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600;700&display=swap');

* {
    font-family: 'Cabin Condensed', sans-serif;
}

body {
    height: 450px;
    width: 450px;
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(to right, #2C3F50, #192E40);
}

.container {
    width: 77%;
    margin: 1rem auto 1rem auto;
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #2C3F50;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

p {
    font-size: 1rem;
    line-height: 1.5;
}

.footer
{
    font-size: 0.65rem;
    padding-bottom: 1rem;
    text-align: center;
    color: #FFFFFF;
}

.secondary_click
{
    width: 80%;
    border-radius: 5px;
}